<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="packages" />
		<add key="DefaultPushSource" value="https://nuget.cp-contrib.com/nuget" />
	</config>

	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="CPContrib Nuget" value="https://nuget.cp-contrib.com/nuget/" />
	</packageSources>

</configuration>