source https://www.nuget.org/api/v2/

nuget datagen 0.1.16 restriction: >= net45
nuget FluentAssertions 4.19.4 restriction: >= net45
nuget NUnit 3.9.0 restriction: >= net45
nuget NUnit3TestAdapter 3.9.0 restriction: >= net45

source http://nuget.cp-contrib.com/nuget
nuget CrownPeak.CMSAPIProxy
nuget LibLog